modules = ["c", "rust"]

[nix]
channel = "stable-24_05"
packages = ["rustc", "cargo", "wasm-pack", "lld", "wasm-bindgen-cli"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "C Webserver"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "J_Interpreter_Web"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "simple_server"

[[workflows.workflow]]
name = "C Webserver"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gcc webserver.c -o webserver && ./webserver"
waitForPort = 5000

[[workflows.workflow]]
name = "J_Interpreter_Web"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd j_web_repl && cargo run"
waitForPort = 5000

[[workflows.workflow]]
name = "simple_server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd simple_server && cargo run"
waitForPort = 5000

[deployment]
run = ["sh", "-c", "gcc webserver.c -o webserver && ./webserver"]

[[ports]]
localPort = 5000
externalPort = 80
